@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #121212; /* Ciemny kolor tła */
    color: #ffffff; /* Biały tekst */
    text-align: center;
}

#app {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

#station-container {
    margin-bottom: 20px;
}

#station-title {
    font-size: 2em;
    margin: 0;
    animation: neon-fade-in-out 1s ease-in-out;
}

#station-text {
    font-size: 1.2em;
    margin: 10px 0;
    color: #39ff14; /* Neonowy kolor tekstu */
    text-shadow: 0 0 5px #39ff14, 0 0 10px #39ff14, 0 0 20px #39ff14, 0 0 40px #39ff14, 0 0 80px #39ff14;
}

.neon-fade-in-out {
    animation: neon-fade-in-out 1s ease-in-out;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    color: #ffffff; /* Biały tekst na przyciskach */
    background-color: #333333; /* Ciemny kolor tła przycisków */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

button:hover {
    background-color: #555555; /* Ciemniejszy kolor tła po najechaniu */
}

button i {
    margin: 0 5px;
}

audio {
    display: none;
}

@keyframes neon-fade-in-out {
    0% {
        opacity: 0;
        text-shadow: none;
    }
    50% {
        opacity: 1;
        text-shadow: 0 0 10px #39ff14, 0 0 20px #39ff14, 0 0 30px #39ff14, 0 0 40px #39ff14;
    }
    100% {
        opacity: 0;
        text-shadow: none;
    }
}
